<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAN5sKSypj2dF2F-Ytr37iab-Eatminwk4</string>
	<key>GCM_SENDER_ID</key>
	<string>722570735594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freval.cococourier</string>
	<key>PROJECT_ID</key>
	<string>coco-courier</string>
	<key>STORAGE_BUCKET</key>
	<string>coco-courier.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722570735594:ios:cdc2ced43a79b2e5aecc93</string>
</dict>
</plist>